@keyframes slide-topper {
    0% {
      transform: translateY(220px); 
    }
    3% {
      transform: translateY(0); 
    }


    50% {
      transform: translateY(0);
    }

    53% {
      transform: translateY(220px);
    }

    100% {
      transform: translateY(220px); /* Slide out */
    }
  }
  
  .slidetop-animate {
    animation: slide-topper 60s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation-play-state: running;
  }
  
  :root {
    background-color: rgba(0, 0, 0, 0); 
  }